<% title "Tama" %>

<p>
  <strong>Owner:</strong>
  <%=h @tama.owner %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @tama.name %>
</p>
<p>
  <strong>Strength:</strong>
  <%=h @tama.strength %>
</p>
<p>
  <strong>Intellect:</strong>
  <%=h @tama.intellect %>
</p>
<p>
  <strong>Fantasy:</strong>
  <%=h @tama.fantasy %>
</p>

<p>
  <%= link_to "View All", tamas_path %>
</p>
