<% num = form_for_tama_counter+1 %>
<br />
<h2><%=h "#{@username} Tama #{num}" %></h2>
<%- if !@tamas_errors.nil? && @tamas_errors[form_for_tama_counter].length > 0 -%>
  <%- @tamas_errors[form_for_tama_counter].each do |attr,msg| -%>
    <%= content_tag :span, "#{attr.capitalize} #{msg}", :id => "baby_error_#{num}", :style => 'color:red;' %>
    <br />
  <%- end -%>
<%- end -%>
<%- if @error_points_no_display.nil? && @points[form_for_tama_counter] > 0 -%>
  <%= content_tag :span, "You still have #{@points[form_for_tama_counter]} point#{'s' if @points[form_for_tama_counter] > 1}", :id => "baby_error_points_#{num}", :style => 'color:red;' %>
  <br />
<%- end -%>
<span id="<%= "baby_tama_#{num}_leaving_points" %>"><%=h @points[form_for_tama_counter] %></span> points leaving
<br />
<%= label "baby_tama_#{num}", :name, "Name Tama #{num} : " %>
<%= text_field "baby_tama_#{num}", :name %>
<br />
<%= render :partial => "form_for_attribute", :locals => { :attribute => :strength, :value => @tamas[form_for_tama_counter].strength, :num => num } %>
<%= render :partial => "form_for_attribute", :locals => { :attribute => :intellect, :value => @tamas[form_for_tama_counter].intellect, :num => num } %>
<%= render :partial => "form_for_attribute", :locals => { :attribute => :fantasy, :value => @tamas[form_for_tama_counter].fantasy, :num => num } %>