<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <ul id="user_informations">
        <li><%= link_to "Home", root_url %></li>
      <% if logged_in? %>
        <li>Welcome <%=h current_user.username %>! Not you? <%= link_to "Log out", logout_path %></li>
        <li>See <%= link_to_unless_current "my owner", current_user.owner %>.</li>
      <% else %>
        <li>Don't have an account? <%= link_to_unless_current "Sign up!", signup_path %></li>
        <li>Already have an account? <%= link_to_unless_current "Log in!", login_path %></li>
      <% end %>
      </ul>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <%= yield %>
    </div>
  </body>
</html>
